@import url("/css/normalize.css");

/* base */
body {
	color: white;
	background: #C1C1C1;
	font-family: "Lucida Grande", "segoe UI", "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", Meiryo, Arial, sans-serif;
	line-height: 1.5em;
	color: #444444;
}

a, a:visited {
	color: #79A325;
	background: inherit;
	text-decoration: none;
}
a:hover {
	color: #73471B;
	background: inherit;
	text-decoration: underline;
}

h1, h2, h3 {
	font-weight: Bold;
}

ul, ol {
	margin: 5px 10px;
	padding: 0 20px;
}
ul { list-style: none; }
dl { padding: 10px; margin: 0; }
dt {
	font-weight: bold;
	color: #79A62E;
}
dd {
	padding-left: 25px;
}

/* header */
header {
	text-align: center;
	background: #C1C1C1;
	position: relative;
}

header img {
	width: 100%;
	border-top: 20px #F2F0F0 solid;
	border-bottom: 0px #F2F0F0 solid;
	border-left: 20px #F2F0F0 solid;
	border-right: 20px #F2F0F0 solid;
	border-radius: 10px 10px 0px 0px;
	vertical-align: bottom;
}

header h1 {
	position: absolute;
	left: 10%;
	top: 35%;
	font-size: 2.9em;
}
header a,
header a:visited,
header a:hover {
	color: #444444;
	background: inherit;
	text-decoration: none;
}

header h2 {
	position: absolute;
	left: 25%;
	top: 60%;
	font-size: 1.5em;
}

header div.top-menu {
	position: absolute;
	left: 70%;
	top: 20px;
	background: #74A838;
	color: #FFF;
	font-size: 12px;
}

header div.top-menu a {
	font-weight: bold;
	color: #fff;
}

@media handheld, only screen and (max-width: 480px) {
	header h1 {
		font-size: 1.0em;
	}
	header h2 {
		font-size: 0.5em;
	}
	header div.top-menu {
		left: 50%;
		font-size: 8px;
		line-height: 0.8em;
	}
}
@media handheld, only screen and (min-width: 481px) and (max-width: 767px) {
	header h1 {
		font-size: 1.8em;
	}
	header h2 {
		font-size: 1.0em;
	}
	header div.top-menu {
		font-size: 10px;
	}
}

/* nav */
nav {
	width: 100%;
	border-top: 2px #EFECEC solid;
	border-left: 20px #EFECEC solid;
	border-right: 20px #EFECEC solid;
	border-bottom: 0px #EFECEC solid;
	background-image: url("/images/nav.png");
	background-size: cover;
}

nav ul {
	list-style: none;
}

nav ul:after {
	clear: both;
}

nav ul li {
	float: left;
	margin-left: 5px;
	padding: 5px 10px;
}

nav ul li a,
nav ul li a:visited {
	color: #FFFFFF;
	font: bold;
	text-decoration: none;
}
nav ul li a:hover,
nav ul li a:active {
	color: #E7FAA9;
}

nav ul li.current {
	background: #FFFFFF;
	border-radius: 5px 5px 0px 0px;
}

@media handheld, only screen and (max-width: 480px) {
	nav ul {
		font-size: 0.8em;
	}
}
@media handheld, only screen and (min-width: 481px) and (max-width: 767px) {
	nav ul {
	}
}

/* main */
main {
	border-top: 0px #EFECEC solid;
	border-left: 20px #EFECEC solid;
	border-right: 20px #EFECEC solid;
	border-bottom: 20px #EFECEC solid;
	border-radius: 0px 0px 10px 10px;
	background: #FFFFFF;
	font-size: 12px;
	text-align: left;
}
main img {
	background: #FAFAFA;
	border: 1px solid #E4E4E4;
	padding: 8px;
}
main img.float-right {
	margin: 5px 0px 10px 10px;
}
img.float-left {
	margin: 5px 10px 10px 0px;
}

main .pager {
	text-align: center;
}

/* article */
article {
	background: #FFFFFF;
	border-right: 1px #EFECEC solid;
	padding: 20px;
}
article h2 {
	color: #51432F;
	border-bottom: 1px solid #E4F2C8;
	line-height: 1.3em;
}
article h2 a,
article h2 a:hover,
article h2 a:visited,
article h3 a,
article h3 a:hover,
article h3 a:visited {
	color: #51432f;
	text-decoration: none;
}

article h3 {
	color: #51432F;
	border-bottom: 1px dashed #EBE7E7;
}

article div.content {
	color: #6B6B6B;
}
article div.content:after {
	clear: both
}

article div.content ul li {
	list-style-image: url("/images/bullet.gif");
}


article div.footer {
	color: #977C57;
	border: 1px solid #EEE8E1;
	background: #FAF7F5;
	border-radius: 5px;
	padding: 5px;
}
article div time {
	background: #FAF7F5 url("/images/clock.gif") no-repeat;
	padding: 5px;
	padding-top: 0;
	padding-left: 30px;
	float:  left;
}

article h1 {
	font-size: 2.0em;
}
article h2 {
	font-size: 2.0em;
}
article h3 {
	font-size: 1.2em;
}

article code {
	margin: 15px 0;
	padding: 15px;
	text-align: left;
	display: block;
	overflow: auto;
	font: 500 1em/1.5em 'Lucida Console', 'Courier New', monospace;
	border: 1px solid #EEE8E1;
	background: #FAF7F5;
	white-space: pre;
}

article blockquote {
	margin: 15px 10px;
	padding: 5px 7px 5px 40px;
	font-weight: normal;
	line-height: 1.6em;
	font-style: italic;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: #80614D;
	border: 1px solid #EEE8E1;
	background: #FAF7F5 url("/images/quote.gif") no-repeat 5px 5px;
}

article div.footer ul {
	margin: 0;
}
article div.footer li {
	float:  left;
	margin-left: 5px;
}

article div.social-button ul {
}
article div.social-button li {
	list-style-type: none;
	float: left;
	margin: 10px 5px 20px 0;
	width: 90px;
}


/* aside */
aside {
	text-align: left;
	background: #FFFFFF;
	padding: 20px;
}
aside h3 {
	color: #51432F;
	font-size: 1.5em;
	text-transform: none;
	border-bottom: 1px solid #E4F2C8;
}

aside .sidemenu {
	/*margin: 0; padding: 0;*/
	margin: 10px 10px 5px 7px; padding: 0;
	text-decoration: none;
}
aside .sidemenu li {
	list-style: none;
	margin: 0;
	padding: 5px 8px;
	border-bottom: 1px solid #E8E8E8;
}
aside .sidemenu li a {
	text-decoration: none;
	color: #739A23;
	font-weight: bold;
}
aside .sidemenu li a:hover {
	color: #000;
}
aside .sidemenu ul { margin: 0 0 0 5px; padding: 0; }
aside .sidemenu ul li { border: none; }

aside #coderwall img {
	background: none;
	border: none;
	padding: 0;
	width: 40px;
}

/* footer */
footer {
	text-align: center;
	background: #C1C1C1;
	margin-bottom: 20px;
	color: #777777;
}
footer small {
	font-size: 0.8em;
}

@media handheld, only screen and (max-width: 951px) {
	aside {
		border-right: 1px #EFECEC solid;
		padding: 0 20px 20px 20px;
	}
}

@media handheld, only screen and (min-width: 952px) {
	.grid {
		width: 952px;
	}
	header img {
		width: 952px;
	}
}

.float-left { float: left; }
.float-right { float: right; }
.align-left { text-align: left; }
.align-right { text-align: right; }
.no-border { border: none; }
.clearer { clear: both; }
.clear { display: inline-block; }
.clear:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: ".";
}
.spacer10 { height: 10px; }
.spacer20 { height: 20px; }
.spacer30 { height: 30px; }
.spacer40 { height: 40px; }
.spacer50 { height: 50px; }


.social_button {
	margin: 0px 20px 10px 0px;
	padding: 0px;
	width:100%;
	height:25px;
}
.social_button .twitter {
	float: left;
	display: inline;
	margin: 0px 10px 0px 0px;
	padding: 0px;
	width: 85px;
}
.social_button .facebook {
	float: left;
	display: inline;
	margin: 0px 10px 0px 0px;
	padding: 0px;
	width: 90px;
}
.social_button .googleplus {
	float: left;
	display: inline;
	margin: 0px 10px 0px 0px;
	padding: 0px;
	width: 50px;
}
.social_button .hatena {
	float: left;
	display: inline;
	margin: 0px 10px 0px 0px;
	padding: 0px;
	width: 100px;
}
